@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #24aff0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2) ;
}

.logo{
    font-size: 2.7rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: default;
    letter-spacing: 5px;
    text-transform: uppercase;
}

b{
    font-size: 60px;
    color: var(--main-color);
}

.navbar a{
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 600;
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color)
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 45vw;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform:  translateY(0);
    }
    50% {
        transform:  translateY(-2.0rem);
    }
    100% {
        transform:  translateY(0);
    }
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color)
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 20%;
    font-size: 3rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 4rem 0;
    box-shadow: 0 0 1rem var(--main-color);
    transition: .5s ease;
}

.social-media a:hover {
    background-color: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 0;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    background: var(--main-color);
    border-radius: 6rem;
    box-shadow: 0 0 0.5rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 700;
    transition: .5s ease;
}

.btn:hover {
    background: transparent;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    box-shadow: 0 0 1rem var(--main-color);
}

/* About Me */

#about {
    background-color: var(--second-bg-color);
    height: auto;
}

.about-skill {
    font-size: 5rem !important;
    font-weight: 600 !important;
    width: 100%;
    margin-bottom: 10%;
    place-items: center;
    text-align: center;
    color: var(--main-color)
}
.skill {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.skill-content {
    display: flex;
    align-items: center;
}

.skillimg {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.bar {
    width: 100%;
    height: 10px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: rgba(134, 134, 134, 0.589);
}

.bar span {
    height: 100%;
    display: block;
    border-radius: 5px;
    background: linear-gradient(to right, #0155FE, #00e1ff);
}

.info {
    margin-left: 10px; 
}



 .about .content .skill-bar h3 {
    font-size: 3rem !important;
    font-weight: 600 !important;
    width: 100%;
    margin-bottom: 20px;
    place-items: center;
    text-align: center;
    color: var(--text-color)
} 

.about .content {
    display: flex;
}

.about .skill-bar {
    font-size: 2rem !important;
    font-weight: 300 !important;
    width: 100%;
    margin-bottom: 10px;
    color: var(--text-color)
}


.skill-bar .bar .html {
    width: 40%;
    animation: html 3s;
}

@keyframes html {
    0%{
        width: 0;
    }100%{
        width: 40%;
    }
}

.skill-bar .bar .css {
    width: 35%;
    animation: css 3s;
}

@keyframes css {
    0%{
        width: 0;
    }100%{
        width: 35%;
    }
}

.skill-bar .bar .python {
    width: 45%;
    animation: python 3s;
}

@keyframes python {
    0%{
        width: 0;
    }100%{
        width: 45%;
    }
}

.skill-bar .bar .csharp {
    width: 55%;
    animation: csharp 3s;
}

@keyframes csharp {
    0%{
        width: 0;
    }100%{
        width: 55%;
    }
}

.about .content .text {
    font-size: 2rem ;
    font-weight: 300 ;
    width: 100%;
    margin-top: 100px;
    margin-left: 30px;
    place-items: center;
    text-align: center;
    color: var(--text-color);
}

.about .content span {
    font-weight: 500;
    color: var(--main-color); 
}

/* MYWORK */
.portfolio {
    background: var(--bg-color);

}

.portfolio h2 {
    margin-bottom: 4rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
}

.portfolio-box:hover img {
    transform: scale(1.1);
    transition: .5s ease;
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0, 3rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

/* Contact */
.contact {
    background-color: var(--second-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; 
}

.heading {
    font-size: 5rem;
    align-self: flex-start;
}

.BigCard {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    background: #fff;
    margin-top: 8rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
    width: 100%;
    max-width: 90rem;
}

.ContactMe {
    font-size: 3rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-flow: wrap;
    justify-content: space-around;
    row-gap: 1rem;
}

.ContactBox {
    display: flex;
    align-items: center; 
    gap: 10px 20px; 
    flex-wrap: wrap; 
    justify-content: center;
}

.ContactBox button{
    background: transparent;
    border-radius: 10px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

.ContactBox button img {
    margin: auto; 
    display: block;
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    margin-left: -70%;
    opacity: 0;
    transition: opacity 0.3s;
}
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: 0px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.ContactMe .btnmail {
    border-radius: 10px;
    padding: 1rem 2rem;
    background: var(--main-color);
    font-size: 1.6rem;
    font-weight: 600;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.btnmail:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.BigCard .divider-line {
    display: flex;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.BigCard .divider-line .line {
    flex: 1;
    height: 1px;
    background-color: #ccc;
}

.BigCard .divider-line .or-text {
    margin: 0 1rem;
    color: #ccc;
    font-size: 1.5rem;
}
/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background-color: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}


/* Breakpoints */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header{
        padding:  2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .portfolio {
        padding-bottom: 7rem;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin:  3rem 0;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size:  2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about .content {
        flex-direction: column-reverse;
        align-items: center;
      }
    
      .about .content .skill-bar {
        margin-top: 5rem;
      }
    .about .content .text {
        margin-top: 1rem;
    }

    .portfolio h2 {
        margin-bottom: 3rem;
    }
    
    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }

}   

@media (max-width: 617px) {
    
    .portfolio-container {
        grid-template-columns: 1fr;
    }

}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    
    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}

@media (max-width: 365px) {
    .home-img img {
        width: 90vw;
    }
    
    .about .content .skill-bar {
        margin-top: 3rem;
      }
    .about .content .text {
        margin-top: .5rem;
    }
}
